.square {
    width: 150px;
    height: 150px;
    margin: 3px;
    border-radius: 0px;
    border: 1px solid transparent;
    padding: 0;
    vertical-align: middle;
    font-size: 4em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

@media (max-width: 767px) {
    .square {
        width: 120px;
        height: 120px;
    }
}

.empty.square:hover {
    border-color: #646cff;
}

.empty.square:focus,
.empty.square:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    .square {
        background-color: #f9f9f9;
    }
}
